<body>

	<div id="toppings">
		<h1>Toppings</h1>

		<% @toppings.each do |topping| %>

			<div class="image-wrapper">
				<div class="table-row">
					<a href="#" class="second-wrapper">
						<img src="<%= %>" alt="<%= %>"> 
					</a>

				</div>
				<div class="table-row">
					<%=  %>
					<input type="text" name="<%= %>">
				</div>
			</div>		

		<% end %>

		<h1>Sides</h1>

		<% @sides.each do |side| %>

			<div class="image-wrapper">
				<div class="table-row">
					<a href="#" class="second-wrapper">
						<img src="<%= %>" alt="<%= %>"> 
					</a>
				</div>
				
				<div class="table-row">
					<%=  %>
					<input type="text" name="<%= %>">
				</div>
			</div>		

		<% end %>

		<h1>Desserts</h1>

		<% @desserts.each do |dessert| %>

			<div class="image-wrapper">
				<div class="table-row">
					<a href="#" class="second-wrapper">
						<img src="<%= %>" alt="<%= %>"> 
					</a>
				</div>

				<div class="table-row">
					<%=  %>
					<input type="text" name="<%= %>">
				</div>
			</div>		

		<% end %>

		<h1>Drinks</h1>

		<% @drinks.each do |drink| %>

			<div class="image-wrapper">
				<div class="table-row">
					<a href="#" class="second-wrapper">
						<img src="<%= %>" alt="<%= %>"> 
					</a>
				</div>

				<div class="table-row">
					<%=  %>
					<input type="text" name="<%= %>">
				</div>
			</div>		

		<% end %>







		<div class="image-wrapper">
			<div class="table-row">
			<a href="#" class="second-wrapper">
				<img src="https://pbs.twimg.com/media/BsWWQJIIAAAfHA0.jpg" alt="cheese"> 
			</a>
			</div>
			<div class="table-row">
				Cheese
				<input type="text" name="subject">
			</div>

		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper">
				<img src="https://s-media-cache-ak0.pinimg.com/236x/5e/c0/7c/5ec07c8f65e8df99d1bcc58d0d5061ed.jpg" alt="mushrooms"> Mushrooms
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper">
				<img src="https://pbs.twimg.com/media/B0RoSctCQAAPexQ.jpg" alt="bacon"> Bacon
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper">
				<img src="https://d1w5usc88actyi.cloudfront.net/wp-content/uploads/2013/10/Fstoppers_Talking-Food_Gary-W-Martin-20.jpg" alt="ham"> Ham
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="https://s-media-cache-ak0.pinimg.com/236x/32/3b/c9/323bc970006478990fe89e1933f887e6.jpg" alt="beef"> Beef
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper">
				<img src="https://fantasticdl.files.wordpress.com/2014/11/tumblr_mm5goqmike1spfmo7o1_1280.jpg"alt="kale"> Kale
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper">
				<img src="https://planet-cdn.foninja.com/wp-content/uploads/2015/06/talkingfood.jpg" alt="beets"> Beets
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper">
				<img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e35/11909366_1011180372237200_846217663_n.jpg" alt="tomatoes"> Tomatoes
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper">
				<img src="http://cdn.firstwefeast.com/assets/2013/05/c7f13faab9a011e2bccc22000a1f8cda_7.jpg" alt="brie"> Brie
			</a>
		</div>
	</div>

	<div id="sides">
		<h1>Sides</h1>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="http://loves.cucchiaio.it/wp-content/uploads/2014/07/Schermata-2014-07-18-alle-11.31.55-607x580.png" alt="fries"> Fries
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper">
				<img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e15/11261365_1453479238278613_792597274_n.jpg" alt="tater tots"> Tater tots
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="https://pbs.twimg.com/media/BxnKQPrCYAA78sP.jpg" alt="onion rings"> Onion rings
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="http://cdn.firstwefeast.com/assets/2013/05/whatsupdog-500x500.jpg" alt="hot dogs"> Hot dogs
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="https://d1w5usc88actyi.cloudfront.net/wp-content/uploads/2013/10/Fstoppers_Talking-Food_Gary-W-Martin-12.jpg" alt="fried chicken"> Fried chicken
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="http://www.clickypix.com/wp-content/uploads/2013/11/terribly-good-visual-food-puns-25.jpg" alt="corn"> Corn on a cob
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="https://pbs.twimg.com/media/BtPZYHVCEAALfRJ.jpg" alt="olives"> Olives 
			</a>
		</div>	
	</div>

	<div id="desserts">
		<h1>Desserts</h1>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="http://loves.cucchiaio.it/wp-content/uploads/2014/07/Schermata-2014-07-18-alle-11.25.54-617x580.png" alt="ice cream"> Ice cream
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="http://mais20min.com.br/wp-content/uploads/2013/12/talking-food-por-laura-prouty_19.jpg" alt="pie"> Pie
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="https://d1w5usc88actyi.cloudfront.net/wp-content/uploads/2013/10/Fstoppers_Talking-Food_Gary-W-Martin-18.jpg" alt="flan"> Flan
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="https://pbs.twimg.com/media/BsDVDN6CcAA-O-r.jpg" alt="donut"> Donut
			</a>
		</div>
	</div>

	<div id="drinks">
		<h1>Drinks</h1>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="http://cdn.foodbeast.com.s3.amazonaws.com/content/wp-content/uploads/2013/05/heine.jpg" alt="heineken"> Heineken
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="http://i.imgur.com/HUlmyFh.jpg" alt="hop"> Hop beer
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="http://drop.ndtv.com/albums/COOKS/funny-puns/5.jpg" alt="pale ale"> Pale ale
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="http://editorial.designtaxi.com/news-food280513/15.jpg" alt="whiskey"> Whiskey
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="https://pbs.twimg.com/media/Buxf-dZIgAEjIRV.jpg" alt="coffee"> Coffee
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="http://i.imgur.com/f56fGAY.jpg" alt="earl grey tea"> Earl grey tea
			</a>
		</div>

		<div class="image-wrapper">
			<a href="#" class="second-wrapper"> 
				<img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e35/12141847_178902622449043_70553660_n.jpg" alt="oolong tea"> Oolong tea
			</a>
		</div>
	</div>

	<div id="lightbox-outer">
		<div id="lightbox-inner">
			<img id="lightbox-image" src="">
		</div>		
	</div>

</body>



